*{
    margin: 0px;
    padding: 0px;
}

body{}

#contenedor{
    width: 95%;
    margin: 10px auto;
}

nav{}

#logo{
    float: left;
    width: 15%;
    height: 100px;
    background-color: #000000;
}

#menu{
    float: left;
    width: 65%;
    height: 100px;
    background-color: #ff0404;
    align-content: center;
}S

#redes{
        float: left;
        width: 20%;
        height: 100px;
        background-color: #868686;
}

header{
    clear: both; /*anula el flotamiento*/
    height: 250px;
    background-color: #ff0606;
    clear: both;
    height: 250px;
    text-align: center; /* Centrar imagen */
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header img {
    height: 250px;
    margin-top: 30px; 
  }


#izq{
    float: left;
    width: 20%;
    height: 500px;
    background-color: #32323d;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


#centro{
    float: left;
    width: 60%;
    height: 500px;
    background-color: hsl(0, 94%, 43%);   
    text-align: justify;
    color: white;
}

#centro img{
    height: 250px;
    width: 500px;
    margin-top: 30px; 
}

#der{
    float: left;
    width: 20%;
    height: 500px;
    background-color: #32323d;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#uno{
    clear: both;
    float: left;
    width: 50%;
    height: 240px;
    background-color: #505050;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dos{
    float: left;
    width: 50%;
    height: 220px;
    background-color: #424242;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dos img{
    height: 200px;
    margin-top: 10px; 
}

footer{
    clear: both;
    height: 30px;
    background-color: #670303;
}

img{
    border-radius: 40px;
    height: 95%;
    width: 95%;
    margin: left;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 12%;
}

nav ul li a{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

footer {
    background-color: #ff5506; /* Color de fondo del footer */
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .info {
    text-align: center;
  }

  