*{
    margin: 0px;
    padding: 0px;
}

#contenedor{
    width: 95%;
    margin: 10px auto;
    border: 3px rgb(33, 255, 199) solid;
    border-radius: 20px;
    text-align: center;
}
.caja{
    width: 80%;
    height: 25px;
    /*margin-left: 25%;*/
}
.boton{
    width: 50%;
    margin-top: 10px;
    /*margin-left: 25%;*/
    background-color: rgb(25, 140, 248);
    color: black;
    height: 30px;
    margin-bottom: 10px;
}
#logo{
    float: left;
    width: 20%;
    height: 100px;
    background-color: rgb(255, 123, 0);
}
#menu{
    float: left;
    width: 80%;
    height: 100px;
    background-color: rgb(0, 204, 255);
}
nav{
    text-align: center;
    /*position: fixed;*/
    width: 95%;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
#tituno{
    float: left;
    width: 50%;
    height: 150px;
    background-color: rgb(98, 0, 255);
}
#titdos{
    float: left;
    width: 50%;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.466);
}
#uno{
    float: left;
    width: 30%;
    height: 200px;
    background-color: aqua;
}
#dos{
    float: left;
    width: 40%;
    height: 200px;
    background-color: rgb(71, 255, 86);
}
#tres{
    float: left;
    width: 30%;
    height: 200px;
    background-color: rgb(248, 50, 189);
}
.derechos{
    margin: 10%;
}